.headline {
  & + * {
    --flow-space: var(--space-700);
  }

  p {
    max-width: 43ch;
  }

  &[data-align="center"] {
    text-align: center;

    h1,
    h2 {
      margin-inline: auto;
    }

    p {
      margin-inline: auto;
    }
  }

  &[data-headline-style="wide"] {
    p {
      max-width: 46ch;
    }
  }
}
