@use '../abstracts/breakpoint' as *;
@use '../abstracts/tokens/tokens' as *;
@use '../abstracts/function' as *;

.post {
  --flow-space: var(--space-600);
  max-width: 42rem;
  width: 100%;
  margin-inline: auto;

  :is(p, strong, em, li, figcaption, blockquote) {
    max-width: 65ch;
  }

  h2 {
    font-size: $font-size-700;
  }

  h3 {
    font-size: $font-size-600;
  }

  :is(h2, h3) {
    --flow-space: var(--space-800);
  }

  :is(ol, ul) {
    margin-block: var(--space-300);
  }

  & :is(ol, ul) > li + li {
    margin-block: var(--space-100);
  }

  :is(h2, h3) + :is(p, ul) {
    --flow-space: var(--space-300);
  }

  h4 + :is(p, ul) {
    --flow-space: var(--space-200);
  }

  h2 + h3 {
    --flow-space: var(--space-400);
  }

  :is(h2, h3, h4, h5) {
    scroll-margin-top: 1rem;

    & > .anchor {
      position: absolute;
      opacity: 0;
      text-decoration-line: none;
      margin-left: -1em;
      padding-right: 0.5em;
      cursor: pointer;
      width: 80%;
      max-width: 700px;

      &:hover,
      &:focus-visible {
        opacity: 1;
      }

      &::after {
        content: '#';
      }
    }
  }

  img {
    block-size: rem(330);
    inline-size: 100%;
    object-position: 34% 0;
  }

  strong + h3 {
    padding-block-end: var(--space-100);
    width: fit-content;
    border-bottom: 0.15em solid $color-border-primary-600;
  }

  &-list {
    --flow-space: var(--space-800);

    h2 {
      a:not(:hover) {
        text-decoration-color: transparent;
      }
    }
  }
}
