@use "../abstracts/function" as *;
@use "../abstracts/tokens/tokens" as *;

.region {
  padding-block: var(--region-padding, var(--space-800));
  overflow: hidden;

  &[data-layout="texture"] {
    background-color: $color-surface-inverse;
    background-image: linear-gradient($color-surface-default 1px, transparent 0),
      linear-gradient(90deg, $color-surface-default 1px, transparent 0);
    border-bottom: 1px solid$color-surface-default;
    border-top: 1px solid $color-surface-default;
    background-size: rem(20.1264) rem(20.1264);
  }
}
