@use '../abstracts/' as *;
@use '../abstracts/tokens/tokens' as *;

.projects {
  --auto-grid-min-size: min(54vw, 24rem);
  --region-padding: var(--space-700);

  .card {
    display: grid;
    overflow: hidden;
    padding: var(--space-200);
    max-width: 100%;
    width: 100%;
    border-radius: $border-radius-0-5;
    border: 1px solid $color-border-default;

    p {
      margin-block-end: var(--space-300);
    }

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__star {
        display: flex;
        align-items: center;
        gap: 0.2em;
        text-decoration: 0;

        &::after {
          all: unset;
        }
      }
    }

    &-foot {
      &__language {
        display: flex;
        align-items: center;
        gap: 0.4em;

        &-color {
          display: block;
          width: 14px;
          height: 14px;
          border-radius: $border-radius-rounded-full;
        }
      }

      &__topics {
        display: flex;
        gap: 0.2em;
      }
    }
  }
}

[data-layout='blog'] {
  --auto-grid-min-size: min(54vw, 24rem);

  .card {
    padding: var(--space-300);
    transition: 200ms;
    border-radius: $border-radius-2;
    width: fit-content;

    &__data {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__image {
      border-radius: $border-radius-2;
      object-fit: cover;
    }
  }
}
