@use '../abstracts/' as *;
@use '../abstracts/tokens/tokens' as *;

.collection {
  &-item {
    font-size: $font-size-300;
    font-weight: $font-weight-500;
    margin-block: rem(2);
    outline: 0;
    border-radius: $border-radius-0-5;

    &__focusable {
      border-radius: $border-radius-0-5;
      padding: var(--space-50);
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-surface-inverse-2;
      border-radius: $border-radius-0-5;
      margin-inline-end: var(--space-50);
      padding: rem(3);
      height: rem(40);
      aspect-ratio: 1 /1;
    }

    &__title {
      text-transform: capitalize;
      white-space: nowrap;
      margin-right: auto;
      padding: var(--space-50);
    }

    [href] {
      padding-inline-start: var(--space-50);
    }
  }
}
