@use '../abstracts/breakpoint' as *;
@use '../abstracts/tokens/tokens' as *;

.post {
  --flow-space: var(--space-600);
  max-width: 50rem;
  width: 100%;
  margin-inline: auto;

  :is(p, strong, em, li, figcaption, blockquote) {
    max-width: 65ch;
  }

  :is(h2, h3) {
    --flow-space: var(--space-800);
  }

  :is(& ol, & ul) > li + li {
    margin-block: var(--space-100);
  }

  :is(h2 + p, h3 + p, h2 + ul, h3 + ul) {
    --flow-space: var(--space-300);
  }

  :is(h4 + p, h4 + ul) {
    --flow-space: var(--space-200);
  }

  :is(h2 + h3) {
    --flow-space: var(--space-400);
  }

  :is(em:not([class]), strong:not([class])) {
    color: $color-text-primary-600;
  }

  :is(strong + h3) {
    padding-block-end: var(--space-100);
    width: fit-content;
    border-bottom: 0.15em solid $color-border-primary-600;
  }
}
