@use 'sass:math';

// =====================================================================|
// == Source: https://css-tricks.com/snippets/sass/px-to-em-functions/
// =====================================================================|

$browser-context: 16;
@function rem($pixels, $context: $browser-context) {
 @return math.div($pixels, $context) * 1rem;
}

@function em($pixels, $context: $browser-context) {
 @return math.div($pixels, $context) * 1em;
}