@use '../abstracts/tokens/tokens' as *;

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-page-background;
  transition: background-color 400ms linear 0s;
}

main {
  display: grid;
  flex: 1;

  &:focus {
    outline: 0;
  }
}

:focus {
  outline: 1px solid $color-outline-global;
  outline-offset: 0.2rem;
}

[tabindex='-1'] {
  outline: 0;
}

ul[role='list'],
ol[role='list'] {
  padding: 0;
  margin-bottom: 0;
}

::marker {
  color: $color-surface-primary-600;
}

::selection {
  background-color: $color-text-body;
  color: $color-page-background;
}
