@use "../abstracts/tokens/tokens" as *;

[class*="focusable"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: 0;
  overflow: hidden;

  &:hover,
  &:focus-visible {
    background-color: $color-surface-inverse;
  }
}
