@use "../abstracts/tokens/tokens" as *;

[href^="https"]::after {
  content: "";
  display: inline-block;
  height: 1em;
  aspect-ratio: 1 / 1;
  margin-left: 0.25em;
  margin-bottom: -0.1875em;
  background-color: $primary-400;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="slategrey" d="M13 3l3.293 3.293l-7 7l1.414 1.414l7-7L21 11V3z"/><path fill="slategrey" d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>');
}
