@use "../abstracts/" as *;
@use "../abstracts/tokens/tokens" as *;

body {
  font-family: $font-family-body;
  font-size: $font-size-body;
  font-weight: $font-weight-body;
  color: $color-text-body;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-weight-heading;
  font-family: $font-family-heading;

  & > a {
    font-family: inherit;
  }
}

h1 {
  font-size: $font-size-900;
  max-width: 20ch;
  line-height: 1;
}

h2 {
  font-size: $font-size-800;
  max-width: 26ch;
  line-height: 1.1;
}

h3 {
  font-size: $font-size-700;
  line-height: 1.2;
}

h4 {
  font-size: $font-size-600;
}

p {
  max-width: 60ch;
  line-height: 1.6;
}

strong {
  --flow-space: var(--space-600);
}

a {
  color: inherit;
  text-underline-offset: 0.15em;
  text-decoration-color: $primary-400;
  font-family: $font-family-links;

  &:is(:focus:not(:focus-visible)) {
    outline: 0;
  }

  &:is(:hover, :focus-visible) {
    color: $primary-400;
    text-decoration-color: $color-text-body;
  }
}
