@use '../function' as *;

$type-scale: (
  '100': rem(12),
  '200': rem(14),
  '300': rem(16),
  '400': clamp(1rem, calc(0.94rem + 0.26vw), rem(20)),
  '500': clamp(0.69rem, calc(0.52rem + 0.72vw), rem(22)),
  '600': clamp(0.88rem, calc(1.5rem + 0.91vw), rem(28)),
  '700': clamp(1.88rem, calc(1.73rem + 0.65vw), rem(40)),
  '800': clamp(1.63rem, calc(1.5rem + 1.69vw), rem(52)),
  '900': clamp(2.19rem, calc(1.75rem + 1.89vw), rem(64)),
  '1000': clamp(3.13rem, calc(2.37rem + 3.26vw), rem(100)),
);
